<% include partials/header %>
<div class="feed">
  <!-- <%= console.log(team) %> -->

  <% if (team) { %>
    <% if (team._id) {%>
  <div class="feeder">
    news feed
    <a href="/unlink/local" class="btn btn-default">Unlink</a>
  </div>
  <% } } else {%>
    <a href="/signup" class="btn btn-primary">Signup</a>
    <% } %>
  <div class="carousel">
    slideshow
  </div>
</div>
<% include partials/footer %>
