<% include partials/header %>
<div class="feed">
  <% if (user) { %>
    <% if (user.local.email) {%>
  <div class="feeder">
    news feed
    <a href="/unlink/local" class="btn btn-default">Unlink</a>
  </div>
  <% } else { %>
    <a href="/signup" class="btn btn-primary">Signup</a>
  <% } } else {%>
    <a href="/signup" class="btn btn-primary">Signup</a>
    <% } %>
  <div class="carousel">
    slideshow
  </div>
</div>
<% include partials/footer %>
