<% include partials/header %>
  <div class="Login-form">
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="Team Name">
      <input type="text" name="password" placeholder="Password">

      <button type="submit">Login</button>
      <button type="reset">Reset</button>
    </form>
  </div>
<% include partials/footer %>
