<% include partials/header%>
<div class="register-form">
  <form method="post" action="/signup">
    <input name="team_name" type="text" placeholder="Team Official Name">
    <input name="team_location" type="text" placeholder="Team Location of origin">
    <input name="team_od" type="date" >
    <input name="team_man_name" type="text" placeholder="Team Manager Name">
    <input name="team_man_num" type="text" placeholder="Phone Number">
    <input name="team_man_mail" type="text" placeholder="Email Address">
    <input type="password" class="code" name="team_code" placeholder="Enter a password">
    <input name="team_cap_name" type="text" placeholder="Team Captain name">
    <input name="team_cap_num" type="text" placeholder="Phone Number">
    <input name="team_cap_mail" type="text" placeholder="Email Address">

    <input name="pl1" class="playerfield" type="text" placeholder="Player 1">
    <input name="pl1num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl2" class="playerfield" type="text" placeholder="Player 2">
    <input name="pl2num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl3" class="playerfield" type="text" placeholder="Player 3">
    <input name="pl3num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl4" class="playerfield" type="text" placeholder="Player 4">
    <input name="pl4num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl5" class="playerfield" type="text" placeholder="Player 5">
    <input name="pl5num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl6" class="playerfield" type="text" placeholder="Player 6">
    <input name="pl6num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl7" class="playerfield" type="text" placeholder="Player 7">
    <input name="pl7num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl8" class="playerfield" type="text" placeholder="Player 8">
    <input name="pl8num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl9" class="playerfield" type="text" placeholder="Player 9">
    <input name="pl9num" class="numbers" type="text" placeholder="Phone number">
    <input name="pl10" class="playerfield" type="text" placeholder="Player 10">
    <input name="pl10num" class="numbers" type="text" placeholder="Phone number">

    <button type="submit" id="supmit">Register @ Crick@</button>
    <button type="reset" id="klear">Clear</button>
  </form>
</div>
<% include partials/footer%>
